<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <header style="height: 100px; width: 100%; background-color: rgb(142, 142, 142); margin-bottom: 20px;">
    </header>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0;">
    <main style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        {{{body}}}
    </main>
</body>
</html>